<header class="header" (click)="toggle_class()">
  <div class="logo"><a class="link" href="https://google.com">google</a></div>

</header>

<div class="form-main fadeIn" [ngClass]="LoginActive">
  <form (submit)="login()" [ngClass]="LoginActive">
    <h2 class="main__title">Вход</h2>
    <div class="block__item">
      <label>Email</label>
      <input type="email" name="user.email" [(ngModel)]="user.email" placeholder="Введите email"/>
    </div>
    <div class="block__item">
      <label>Пароль</label>
      <input type="password" name="user.password" [(ngModel)]="user.password" placeholder="Введите пароль"/>
      <a class="link password_reminder" href="# ">Забыл пароль</a>
    </div>
    <button type="submit" class="main-button main-button--m">Войти</button>
  </form>
  <div class="block__item block__link">
    <a class="link " (click)="showRegister();">Зарегистрироваться</a>
  </div>

</div>
